<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="2022 愛之日常音樂節 -  ALL YOU NEED IS LOVE！" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="/index.html" />
    <meta property="og:image" content="/images/fb.jpg" />
    <meta property="og:description" content="2022 愛之日常音樂節 -  ALL YOU NEED IS LOVE！ " />
    <meta name="description" content="2022 愛之日常音樂節 -  ALL YOU NEED IS LOVE！ " />
    <meta name="keywords" content="" />
    <meta name="author" content="dorthan.pan@gmail.com" />

    <title>2022 愛之日常音樂節 - ALL YOU NEED IS LOVE！</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/all.css?V=202210132321">

    <!-- MEDIA CODE Start -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P5RBSBB8T2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-P5RBSBB8T2');
    </script>

    <!-- MEDIA CODE End -->
</head>
<body>
    <div class="wrap love" id="index">
        <!--main-->
        <main class="main container" id="main">
            <!-- order -->
            <section id="order" class="justify-content-center row collapse" data-parent="#main">
                <div class="order col-12 col-lg-6">
                    <h1 v-show="totalPay>0">總金額 : {{ totalPayText }}</h1>
                    <br>
                    <h3 v-show="package>0">全套優惠組數 : 共 {{ package }} 組</h3>

                    <br>
                    <h2 v-show="TBS>0">黑衣 S x{{TBS}}</h2>
                    <h2 v-show="TBM>0">黑衣 M x{{TBM}}</h2>
                    <h2 v-show="TBL>0">黑衣 L x{{TBL}}</h2>
                    <h2 v-show="TBXL>0">黑衣 XL x{{TBXL}}</h2>

                    <h2 v-show="TWS>0">白衣 S x{{TWS}}</h2>
                    <h2 v-show="TWM>0">白衣 M x{{TWM}}</h2>
                    <h2 v-show="TWL>0">白衣 L x{{TWL}}</h2>
                    <h2 v-show="TWXL>0">白衣 XL x{{TWXL}}</h2>

                    <h2 v-show="bagB>0">黑袋 x{{bagB}}</h2>
                    <h2 v-show="bagW>0">白袋 x{{bagW}}</h2>

                    <h2 v-show="card>0">識別證 x{{card}}</h2>

                    <h2 v-show="bigTowel>0">大毛巾 x{{bigTowel}}</h2>
                    <h2 v-show="smallTowel>0">小毛巾 x{{smallTowel}}</h2>

                    <h2 v-show="sock>0">襪組 x{{sock}}</h2>
                    <br>
                    <h3 v-show="totalObj>0">總選購商品數 : 共 {{ totalObj }} 件</h3>
                    <br>

                    <h2 class="title__red w-100 text-center">請出示此頁面給工作人員<br>並準備好現金 {{ totalPayText }}<br>感謝您的協助與支持!</h2>

                    <a href="#love" class="btn btn-submit btn-lg btn-block" data-toggle="collapse">回上一步</a>

                </div>
            </section>

            <!-- love -->
            <section class="love row justify-content-center collapse show" id="love" data-parent="#main">
                <div class="col-12 col-lg-6">
                    <h2 class="title__h2 w-100 text-center">愛之日常 - 週邊商品</h2>
                    <form class="form">
                        <div class="form-group package">
                            <marquee for="formControlRange">全套優惠組 $2,000 [６品項黑白顏色擇１選購 ]，數量有限，以現場數量為主！愛之日常在此感謝您的支持！
                            </marquee>
                        </div>
                        <div>
                            <label for="formControlRange"><span>1</span>T恤 {{ priceText.T }}</label>
                        </div>
                        <!-- 黑色 T恤 $500 -->
                        <div>
                            <div class="row text-white">
                                <div class="col-3">
                                    <label for="TBS">黑色 S</label>
                                    <select class="form-control" id="TBS" v-model="TBS">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <!-- <option value="0">售馨</option> -->
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label for="TBM">黑色 M</label>
                                    <select class="form-control" id="TBM" v-model="TBM">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label for="TBL">黑色 L</label>
                                    <select class="form-control" id="TBL" v-model="TBL">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label for="TBXL">黑色XL</label>
                                    <select class="form-control" id="TBXL" v-model="TBXL">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- 白色 T恤 $500 -->
                        <div>
                            <div class="row text-white">
                                <div class="col-3">
                                    <label for="TWS">白色 S</label>
                                    <select class="form-control" id="TWS" v-model="TWS">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label for="TWM">白色 M</label>
                                    <select class="form-control" id="TWM" v-model="TWM">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label for="TWL">白色 L</label>
                                    <select class="form-control" id="TWL" v-model="TWL">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label for="TWXL">白色XL</label>
                                    <select class="form-control" id="TWXL" v-model="TWXL">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- 環保購物袋  $500 -->
                        <div>
                            <label for="formControlRange"><span>2</span>環保購物袋 {{ priceText.bag }}</label>
                            <div class="row text-white">
                                <div class="col">
                                    <label for="bagB">黑色</label>
                                    <select class="form-control" id="bagB" v-model="bagB">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="bagW">白色</label>
                                    <select class="form-control" id="bagW" v-model="bagW">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <!-- 識別證組 $300 -->
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="card"><span>3</span>識別證組 {{ priceText.card }}</label>
                                    <select class="form-control" id="card" v-model="card">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            </div>
                            <!-- 浴巾 $500 -->
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="bigTowel"><span>4</span>浴巾 {{ priceText.bigTowel }}</label>
                                    <select class="form-control" id="bigTowel" v-model="bigTowel">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            </div>
                            <!-- 毛巾 $400 -->
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="smallTowel"><span>5</span>毛巾 {{ priceText.smallTowel }}</label>
                                    <select class="form-control" id="smallTowel" v-model="smallTowel">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            </div>
                            <!-- 襪子 $200 -->
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="sock"><span>6</span>襪子 {{ priceText.sock }}</label>
                                    <select class="form-control" id="sock" v-model="sock">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>


                        <div class="form-group " v-show="totalObj>0">
                            <small for="formControlRange">選購商品數 : 共 {{ totalObj }} 件 , {{ totalAllText }}</small>
                        </div>

                        <div class="form-group " v-show="package>0">
                            <small for="formControlRange">全套優惠組 : 共 {{ package }} 組 , 優惠{{ packageSaleText }}</small>
                        </div>

                        <div class="form-group totalAll" v-show="totalPay>0">
                            <label for="formControlRange">總金額</label>
                            <input type="text" class="form-control disable" id="totalAll" readonly
                                v-model="totalPayText">
                        </div>

                        <div class="row">
                            <div class="col">
                                <a href="#" class="btn btn-reset btn-lg btn-block" @click="resetOrder"
                                    v-show="totalObj>0">清　除</a>
                            </div>
                            <div class="col">
                                <a href="#order" class="btn btn-submit btn-lg btn-block" data-toggle="collapse"
                                    v-show="totalObj>0">確　認</a>
                            </div>
                        </div>

                        <hr v-show="totalObj>0">

                        <img src="./img/product.jpg" class="img-fluid" />

                        <br>

                        <a href="https://dorthan.github.io/2022-AllYouNeedIsLove/" target="_blank"
                            class="d-block p-5 text-center">
                            <img src="./img/2022AllYouMeedIsLove.png" class="img-fluid" />
                        </a>
                      
                        <br>
                    </form>
                </div>
            </section>
        </main>
    </div>
    <!-- JavaScript -->
    <script src="lib/jquery-1.11.3.min.js"></script>
    <script src="lib/vue/vue.min.js"></script>
    <script src="lib/bootstrap/bootstrap.min.js"></script>
    <script src="js/love.js?v=202210132321"></script>
</body>
</html>